@media (max-width $breakpoint-sm-max)
  .auth-container
    width: 100%
  .icon-wrapper
    height: 196px
  .icon-size
    font-size: 196px
    i
      font-size: 128px
  

@media (min-width $breakpoint-sm-min)
  .auth-container
    width: 400px !important
  .icon-wrapper
    height: 256px
  .icon-size
    font-size: 256px
    i
      font-size: 196px
  
