// app global css
.dark
  color: $grey-1
  .bg-main
    background-color: $grey-10
  .bg-content
    background-color: $grey-9
  .text-inverse
    color: $grey-1
.light
  color: $grey-10
  .bg-main
    background-color: $grey-1
  .bg-content
    background-color: $grey-3
  .text-inverse
    color: $grey-10
